<div class="header">
    <div class="button-menu">
        <a><i class="fas fa-bars" style="margin: auto;"></i></a>
    </div>

    <div class="texto-titulo">
        <div class="titulo">
            <p><b>SISAUD</b></p>
        </div>
        <div class="titulo2">
            <P><b>Parametrização</b></P>
        </div>
    </div>

    <div class="Nome">
        <div>
            <p>Antonio Ferreira da S Filho</p>
        </div>

        <div class="cargo">
            <p>Gestor</p>
        </div>
    </div>

    <div class="button-sair">
<a href="">Sair</a>
    </div>
</div>
