<div class="header">

    <div class="div-1" style=" width: 500px; display: flex;">
        <div class="button-menu">
            <a><i class="fas fa-bars" ></i></a>
        </div>

        <div class="texto-titulo">
            <div class="titulo">
                <p><b>SISAUD</b></p>
            </div>
            <div class="titulo2">
                <P><b>Parametrização</b></P>
            </div>
        </div>
    </div>

    <div class="div-2" style=" width: 500px; display: flex; justify-content: flex-end;">
        <div class="nome">
            <div style=" height: 30px;">
                <p style="color: #672583; font-weight: 500;"><b>Antonio Ferreira da S Filho</b></p>
            </div>

            <div class="cargo" style="display: flex; justify-content: flex-end;">
                <p style="width: 80px; color: #4D5075;"><i>Gestor </i><i class="fas fa-user" style="background-color: #662382; padding: 3px; color: white;"></i></p>
            </div>
        </div>

        <div class="button-sair" style="color: white;">
            <a href="" style="background-color: #DF2C3E; padding: 8px; padding-left: 20px; padding-right: 25px;"><i class="fas fa-sign-out-alt"></i>Sair</a>
        </div>
    </div>
</div>
