.header {
    display: flex;
    padding-left: 10px;
    border-bottom: 1px solid black;
    height: 60px;
    justify-content: space-between;
}

.button-menu {
    cursor: pointer ;
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    color: white;
    background-color: #662382;
    width: 40px;
    padding: 7px;
    padding-left: 12px;
}

.texto-titulo {
    width: 300px;
    height: 60px;
    margin-left: 30px;
    display: flex;
}

.titulo {

    font-size: 20px;
    margin-right: 10px;
    color: #191C4D;
    font-weight: 500;
}

.titulo2 {
    padding-top: 5px;
    font-size: 15px;
    color: #653D86;
    font-weight: 500;
}



.button-sair {
color: white;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}
